body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    box-sizing: border-box;

}

/* NAVIGATION start */

.vertical_nav {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.vertical_nav li {
    margin-bottom: 10px; /* Space between items */
}

.vertical_nav a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set link color */
    display: block; /* Make the link fill the list item */
    padding: 10px; /* Add padding for better click area */
    background-color: #f0f0f0; /* Background color for links */
    border-radius: 5px; /* Rounded corners */
}

.vertical_nav a:hover {
    background-color: #ddd; /* Change background on hover */
}
/* NAVIGATION end */

/* HEADER start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_left, .logo_right {
    width: 10%;
    height: auto;
}

.header_text {
    list-style: none;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header_text li {
    margin: 0;
}

.main_title {
    font-size: 300%; /* Adjust this value to make the main title larger */
    font-weight: bold; /* This makes the main title bold */
}

.sub_title {
    font-size: 150%; /* Adjust this value to make the subtitle smaller */
    font-weight: normal; /* This makes the subtitle normal weight */
    font-style: italic; /* This makes the subtitle italic */
}

/* HEADER end */
